<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "google_analytics" %>
    <title>mot page</title>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
